.navbar {
    background-image: url('https://wallpapercave.com/wp/9oPM25h.jpg');
    background-repeat: no-repeat;
}

.btn {
    margin-right: 20px;
}

.btn-color {
    color: red;
}

body {
    background-image: url(https://www.xtrafondos.com/descargar.php?id=4052&resolucion=2560x1440);
}

.text-color {
    color: red
}